.about {
    &__container {
        width: 100%;
        height: 100vh;
        font-family: 'News Cycle', sans-serif;
        display: block;

        @media (min-width: 767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__content {
        width: 100%;
        max-width: 500px;
        height: auto;
        margin: 0 auto;
        background-color: #000;
        border: 4px solid #e1b100;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 30px;

        p {
            color: #12c9e8;
            line-height: 1.5;

            a {
                text-decoration: none;
                color: #e1b100;
            }
        }

        ul {
            color: #12c9e8;
        }
    }
    &__title {
        color: #e1b100;
        text-align: center;
        margin: 0;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 767px) {
            flex-direction: row;
        }

        .button {
            @media (min-width: 767px) {
                margin-bottom: 0;
                margin-left: 15px;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}